.footer {
  height: 160px;
  position: relative;
  background-color: #f5f6f7;
  
  :global {

    .footer_content {
      position: absolute;
      bottom: 48px;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .footer_icon_box {
        display: flex;
        height: 34px;
        margin-bottom: 20px;
        .telegram {
          margin-right: 30px;
        }
      }
      .footer_text {
        font-size: 14px;
        font-weight: 400;
        color: #858C99;
        
      }

    }

  }
}