min-body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
}
input,
button,
select,
textarea {
  outline: none;
}
textarea {
  resize: none;
}
body {
  font: 12px;
  /* ,"Arial Narrow",HELVETICA */
  /* font-family:Simsun; */
  /* font-family: PingFang SC; */
  /* font-family: PingFangSC-Semibold, PingFang SC; */
  background: #fff;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #2d374b;
  text-decoration: none;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: sub;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
}
input {
  background: none;
  outline: none;
  border: 1px solid #ccc;
}
input:focus {
  border: 1px solid #409eff;
}
html,
body,
#__next {
  height: 100%;
  width: 100%;
  touch-action: manipulation;
}
/* 工具页面背景色之一 */
.page_tools_bj {
  position: relative;
  min-height: calc(100% - 160px);
  background: #F5F6F7;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.ant-select-dropdown {
  border-radius: 10px !important;
}
.ant-select-dropdown .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  
}